/* ------------------------ */
/* Presets */
/* ------------------------ */
@font-face {
    font-family: glacial;
    src: url(./Fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
    font-family: HK;
    src: url(./Fonts/hk-grotesk/HKGrotesk-Light.otf);
}
body{
    background-image: url("./img/Background_img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
hr{
    color: white !important;
}
.h1{
    font-family: glacial;
}
.h2{
    font-family: HK;
}
h3{
    color: #FF66C4 !important;
    font-family: glacial;
    font-size: 36px !important;
}
h4{
    color: white;
    font-family: HK;
}
p{
    color: white;
    font-family: HK;

    font-size: x-large;
}
.p-black{
    color: black;
    font-size: medium;
}
.p-contact{
    padding-left: 10%;
}
.contact_header{
    color: white;
    padding-left: 10%;
}
.h1_down{
    padding-top: 20%;
    color: white;
}
.h2_down{
    color: white;
    font-size: x-large;
}
h1, h2{
    text-align: center;
}
.intro_para{
    padding-bottom: 0%;
}
@media screen and (max-width: 400px) {
    h3{
        text-align: center;
    }
    p{
        font-size: medium;
        padding-left: 5%;
        padding-right: 3%;
    }
    h1, h3{
        padding-left: 5%;
    }
    .contact_header{
        padding-left: 0%;
    }
    .p-contact{
        padding: 0%;
    }
}

/* ------------------------ */
/* Responsive Split Div */
/* ------------------------ */
.wrapper { 
    overflow:hidden;
  }
  
  .wrapper div {
     min-height: 200px;
     padding: 10px;
  }
  #one {
    float:left; 
    margin-right:auto;
    width: 50%;
  }
  #two { 
    overflow:hidden;
    min-height:170px;
  }
  
  @media screen and (max-width: 400px) {
     #one { 
      float: none;
      margin-right:0;
      width:auto;
      border:0;  
    }
    .prev-show-item{
        width: 100% !important;
    }
  }


/* ------------------------ */
/* Header */
/* ------------------------ */
#intro_logo{
    width: 30%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-inner{
    color: white !important;
    font-family: HK !important;
    font-size: large !important;
    border-color: transparent !important; 
}
.prev-show-item{
    width: 200px;
}
@media screen and (max-width: 990px) {
   .prev-show-item{
       width: 100% !important;
   }
 }
/* ------------------------ */
/* Button Animations */
/* ------------------------ */
.btn-1{
    width: 300px;
    height: 5%;
    border: none;
    color: white;
    background-color: #FF66C4;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #2B233D;
    transition: ease-out 1s;
    font-size: 2rem;
    outline: none;
}
.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1:hover{
    box-shadow: inset 300px 0 0 0 #2B233D;
}
.link{
    text-decoration: none;
    color: white;
    font-family: HK;
}
.btn-2{
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 0 #FF66C4;
    transition: ease-out 1s;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    border-radius: 4px;
}
.btn-2:hover{
    box-shadow: inset 300px 0 0 0 #FF66C4;
}
/* ------------------------ */
/* Previous Shows */
/* ------------------------ */
.prev_img{
    width: 50%;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    border-radius: 20px;
}
.img_center_contact{
    width: 10%;
}
#prev-show{
    text-align: center;
    padding-right: 10%;
}
@media screen and (max-width: 400px) {
    .img_center{
        width: 90%;
        height: auto;
    }
    .map-center{
        padding-left: -10% !important;
    }
    .img_center_contact{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
    .divsdd{
        min-width: 100%;
    }
}
/* ------------------------ */
/* Testimonials */
/* ------------------------ */
.card-img{
    height: 200px;
}
/* ------------------------ */
/* Contacts */
/* ------------------------ */
.map-center{
    padding-left: 10% !important;
}
.contatc{
    border: #2B233D;
}
.img_center_contacts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-right: 10%;
}
.divsdd{
   max-width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.card-body{
    height: 30% !important;
    padding-bottom: 10% !important;
}

.Testi{
    color: #FF9BD8;
}
.contact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}